In [40]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [41]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
INFO:WDM:Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
INFO:WDM:Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\Derek\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache
INFO:WDM:Driver [C:\Users\Derek\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [42]:
# setting up the url for the Mars website
url = "https://redplanetscience.com"
browser.visit(url)

In [43]:
html = browser.html

In [44]:
soup = bs(html, 'html.parser')

In [45]:
# Identify and return news title of listing
news_title = soup.find('div', class_='content_title').text
news_title

"NASA's Perseverance Rover Mission Getting in Shape for Launch"

In [46]:
# Identify and return news paragraph of listing
news_p = soup.find('div', class_='article_teaser_body').text
news_p

'Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet. '

In [47]:
# setting up the url for the Mars featured image website
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [48]:
html = browser.html
soup = bs(html, 'html.parser')

In [49]:
# scraping the JPL Mars image website
results = soup.find('div', class_='floating_text_area')

In [50]:
# saving the url for the featured image on the JPL website
image_url = results.a ['href']
featured_image_url = 'https://spaceimages-mars.com/' + image_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [51]:
# setting up the url for the Mars facts website to be able to scrape it using pandas
url = 'https://galaxyfacts-mars.com/'

In [52]:
# reading in the table using pandas
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [53]:
# creating dataframe of the first table of information 
new_df = tables[0]
new_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [54]:
# replace a value within the dataframe
new_df = new_df.replace(to_replace = 'Mars - Earth Comparison', value = 'Planet:')
new_df

                    0                1                2
0             Planet:             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [55]:
# renaming the column titles
new_df = new_df.rename(columns={0: "", 1: "Mars", 2: "Earth"})
new_df

                                  Mars            Earth
0             Planet:             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [56]:
# converting the table to html
html_table = new_df.to_html(index=False)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Planet:</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [57]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Planet:</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [58]:
new_df.to_html('table.html', index = False)

In [59]:
# setting up the url for the Mars hemisphere website
url = "https://marshemispheres.com/cerberus.html"
browser.visit(url)

In [60]:
# setting up connection to cerberus webpage to scrape it
html = browser.html
soup = bs(html, 'html.parser')
imgs = soup.find_all('div', class_='wide-image-wrapper')
for img in imgs:
    image = img.find('img', class_='wide-image')['src']
    final_image = 'https://marshemispheres.com/' + image
    print(final_image)

https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

In [61]:
# setting up the url for the Mars schiaparelli website
url = "https://marshemispheres.com/schiaparelli.html"
browser.visit(url)

In [62]:
# setting up connection to schiaparelli webpage to scrape it
html = browser.html
soup = bs(html, 'html.parser')
imgs = soup.find_all('div', class_='wide-image-wrapper')
for img in imgs:
    image2 = img.find('img', class_='wide-image')['src']
    final_image2 = 'https://marshemispheres.com/' + image2
    print(final_image2)

https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

In [63]:
# setting up the url for the Mars syrtis website
url = "https://marshemispheres.com/syrtis.html"
browser.visit(url)

In [64]:
# setting up connection to syrtis webpage to scrape it
html = browser.html
soup = bs(html, 'html.parser')
imgs = soup.find_all('div', class_='wide-image-wrapper')
for img in imgs:
    image3 = img.find('img', class_='wide-image')['src']
    final_image3 = 'https://marshemispheres.com/' + image3
    print(final_image3)

https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

In [65]:
# setting up the url for the Mars valles website
url = "https://marshemispheres.com/valles.html"
browser.visit(url)

In [66]:
# setting up connection to valles webpage to scrape it
html = browser.html
soup = bs(html, 'html.parser')
imgs = soup.find_all('div', class_='wide-image-wrapper')
for img in imgs:
    image4 = img.find('img', class_='wide-image')['src']
    final_image4 = 'https://marshemispheres.com/' + image4
    print(final_image4)

https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [67]:
browser.quit()

In [68]:
# creating dictionary to hold the hemisphere image url information
hemisphere_urls = [
    {"title": "Cerberus Hemisphere", "img_url": final_image},
    {"title": "Schiaparelli Hemisphere", "img_url": final_image2},
    {"title": "Syrtis Hemisphere", "img_url": final_image3},
    {"title": "Valles Marineris Hemisphere", "img_url": final_image4}]
hemisphere_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [69]:
# creating dictionary to hold all of the scraped information
mars={
    "news_title":news_title,
    "news_paragraph":news_p,
    "featured_image_url":featured_image_url,
    "mars_information":html_table,
    "hemisphere_images":hemisphere_urls}
mars

{'news_title': "NASA's Perseverance Rover Mission Getting in Shape for Launch",
 'news_paragraph': 'Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet. ',
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'mars_information': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Planet:</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_images': [{'title': 'Cerberus Hemisphere',
   'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere',
   'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Hemisphere',
   'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere',
   'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}